<!-- ========================================================================= -->
<!-- ========================================================================= -->
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Collapse to hamburger menu -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Cog Icon -->
      <a class="navbar-brand">
        <i class="fa fa-cog fa-spin"></i><span> UF &Theta;&Tau;</span>
      </a>
    </div>

    <!-- Main nav bar items-->
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- Home tab-->
        <li ui-sref-active-if="main.home">
          <a ui-sref="main.home"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>

        <!-- Search tab-->
        <li ui-sref-active-if="main.brothers">
          <a ui-sref="main.brothers"><span class="glyphicon glyphicon-search"></span> Brothers</a>
        </li>
      </ul>

      <!-- Right navbar items-->
      <ul class="nav navbar-nav navbar-right">
        <!-- If the user is logged in ...-->
        <li ng-if="main.loggedIn">
          <a ui-sref="main.home" ng-click="main.doLogout()"><span class="glyphicon glyphicon-off"></span> Logout</a>
        </li>
        <!-- If the user is not logged in ...-->
        <li ui-sref-active-if="main.login" ng-if="!main.loggedIn">
          <a ui-sref="main.login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
      </ul>
    </div> <!-- .navbar collapse -->
  </div>
</nav>

<div id="page-wrapper">
  <div id="page-viewport">
    <div id="sidebar" ng-if="main.loggedIn" class="animate-if">
      <div id="sidebar-header">
        <a href="" class="toggle-sidebar"><h3>Dashboard</h3></a>
        <span class="pull-right">
          <a href="" class="toggle-sidebar btn btn-default">
            <i class="fa fa-bars"></i>
          </a>
        </span>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active-if="main.admin">
          <a ui-sref="main.admin">Admin
            <span class="pull-right"><i class="glyphicon glyphicon-wrench"></i></span>
          </a>
        </li>
      </ul>
    </div>
    <div id="sidebar-page-content" ng-class="{'page-wrapper--adjusted': !main.loggedIn}">
      <div ui-view></div>
    </div>
  </div>
</div>










<!-- ========================================================================= -->
<!-- ========================================================================= -->
<!--
<!-- Main page contents
<div id="page-wrapper" ng-class="{'open': toggle, 'page-wrapper--adjusted': !main.loggedIn}" ng-cloak>
  <!-- Sidebar ng-class="{'ng-hide': main.loggedIn}"
  <div id="sidebar-wrapper" ng-if="main.loggedIn" class="animate-if">
    <ul class="sidebar">
      <!-- Toggle the sidebar
      <li class="sidebar-main">
        <a ng-click="toggleSidebar()">Dashboard<span class="menu-icon glyphicon glyphicon-transfer"></span></a>
      </li>
      <!-- Header
      <li class="sidebar-title"><span>NAVIGATION</span></li>
      <!-- List of items
      <li class="sidebar-list" ui-sref-active-if="main.admin">
        <a ui-sref="main.admin">Admin<span class="menu-icon glyphicon glyphicon-wrench"></span></a>
        <!--<a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
      </li>
      <li class="sidebar-list" ui-sref-active-if="main.home">
        <a ui-sref="main.home">Admin<span class="menu-icon glyphicon glyphicon-wrench"></span></a>
        <!--<a href="#">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-12">
        <span>Made with</span>
        <a href="https://github.com/jmclemore368" target="_blank">
          <i class="fa fa-heart pulse"></i>
        </a>
        <span> in H&amp;T </span>
      </div>
    </div>
  </div>
  <!-- End Sidebar

  <div id="content-wrapper">
    <div class="page-content">

      <!-- Header Bar
      <div class="row header">
        <div class="col-xs-12">
          <div class="user pull-right">
            <div class="item dropdown" uib-dropdown>
              <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                <img src="img/avatar.jpg">
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                  Joe Bloggs
                </li>
                <li class="divider"></li>
                <li class="link">
                  <a href="#">
                    Profile
                  </a>
                </li>
                <li class="link">
                  <a href="#">
                    Menu Item
                  </a>
                </li>
                <li class="link">
                  <a href="#">
                    Menu Item
                  </a>
                </li>
                <li class="divider"></li>
                <li class="link">
                  <a href="#">
                    Logout
                  </a>
                </li>
              </ul>
            </div>
            <div class="item dropdown" uib-dropdown>
             <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                <i class="fa fa-bell-o"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                  Notifications
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">Server Down!</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="meta">
            <div class="page">
              Dashboard
            </div>
            <div class="breadcrumb-links">
              Home / Dashboard
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Bar


    <div ui-view></div>


    </div><!-- End Page Content
  </div><!-- End Content Wrapper
</div><!-- End Page Wrapper -->
