<div class = "container-fluid">
  <nav class="navbar navbar-inverse">

    <!-- Collapse the menu to a hamburger menu on shrink -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">UF Theta Tau</a>
    </div>

    <!-- Navbar -->
    <div class="collapse navbar-collapse" id="myNavbar">
      <!-- Main nav bar items -->
      <ul class="nav navbar-nav">

        <!-- Home tab -->
        <li ui-sref-active-if="main.home">
          <!-- For full screen -->
          <a ui-sref="main.home">
            <span class="glyphicon glyphicon-home"></span> Home
          </a>
        </li>

        <!-- Search tab -->
        <li ui-sref-active-if="main.search">
          <!-- For full screen -->
          <a ui-sref="main.search">
            <span class="glyphicon glyphicon-home"></span> Search
          </a>
        </li>
      </ul>


      <!-- Right navbar items -->
      <ul class="nav navbar-nav navbar-right">

        <!-- If the user is logged in ... -->
        <li ng-if="main.loggedIn">
          <a ui-sref="main.home" ng-click="main.doLogout()">
            <span class="glyphicon glyphicon-log-out"></span> Logout
          </a>
        </li>

        <!-- If the user is not logged in ... -->
        <li ui-sref-active-if="main.login" ng-if="!main.loggedIn">
          <a ui-sref="main.login">
            <span class="glyphicon glyphicon-log-in"></span> Login
          </a>
        </li>

      </ul>
    </div>
  </nav>

  <!-- Injected views -->
  <div ui-view></div>

</div>
